<%- include('../../fragments/header.ejs') %>
            <main>
                <script type="application/javascript" src="/_js/validationOwnerForm.js"></script>
                <h2><%= pageTitle%></h2>

                <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm()">
                    <input type="hidden" name="id" value="<%= owner.id %>">

                    <label for="firstName">Imię:<sup>*</sup></label>
                    <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków"
                           value="<%= owner.firstName %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.search(e => e.path.includes('firstName')) ? 'error-input' : '' %>" >
                    <span id="errorFirstName" class="errors-text">
                        <% if (validationErrors.search(e => e.path.includes('firstName'))) { %>
                            <%= validationErrors.search(e => e.path.includes('firstName')).message %>
                        <% } %>
                    </span>

                    <label for="lastName">Nazwisko:<sup>*</sup></label>
                    <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków"
                           value="<%= owner.lastName %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.search(e => e.path.includes('lastName')) ? 'error-input' : '' %>" >
                    <span id="errorLastName" class="errors-text">
                        <% if (validationErrors.search(e => e.path.includes('lastName'))) { %>
                            <%= validationErrors.search(e => e.path.includes('lastName')).message %>
                        <% } %>
                    </span>

                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" placeholder="5-60 znaków"
                           value="<%= owner.email %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.search(e => e.path.includes('email')) ? 'error-input' : '' %>" >
                    <span id="errorEmail" class="errors-text">
                        <% if (validationErrors.search(e => e.path.includes('email'))) { %>
                            <%= validationErrors.search(e => e.path.includes('email')).message %>
                        <% } %>
                    </span>

                    <label for="phoneNumber">Numer telefonu:<sup>*</sup></label>
                    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="7-12 znaków"
                           value="<%= owner.phoneNumber %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.search(e => e.path.includes('phoneNumber')) ? 'error-input' : '' %>" >
                    <span id="errorPhoneNumber" class="errors-text">
                        <% if (validationErrors.search(e => e.path.includes('phoneNumber'))) { %>
                            <%= validationErrors.search(e => e.path.includes('phoneNumber')).message %>
                        <% } %>
                    </span>

                    <% if(formMode === 'showDetails') { %>
                        <div class="section-buttons">
                            <a href="/owners/edit/<%= owner.id %>" class="list-actions-button-edit">Edytuj</a>
                        </div>
                    <% } %>
                    <% if (formMode === 'showDetails' || formMode === 'edit') { %>
                        <h2>
                            Szczegóły rejestracji
                        </h2>
                        <table class="table-list">
                            <thead>
                            <tr>
                                <th>Vin</th>
                                <th>Data aktualnej rejestracji od</th>
                                <th>Data aktualnej rejestracji do</th>
                                <th>Numer rejestracyjny</th>
                                <th>Numer ubezpieczenia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for (let r of owner.ownerVehicles) { %>
                                <tr>
                                    <td><a href="/vehicles/details/<%= r.vehicle.id %>"><%= r.vehicle.make %></a></td>
                                    <td><%= r.dateFrom %></td>
                                    <td><%= r.dateTo %></td>
                                    <td><%= r.registrationNumber %></td>
                                    <td><%= r.insuranceNumber %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <% if (formMode !== 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/owners">Anuluj</a>
                        <% } else { %>
                            <a class="form-button-cancel" href="/owners">Powrót</a>
                        <% } %>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>