<%- include('../../fragments/header.ejs') %>
            <main>
                <h2><%= __('owner.list.pageTitle') %></h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th><%= __('owner.fields.firstName') %></th>
                        <th><%= __('owner.fields.lastName') %></th>
                        <th><%= __('owner.fields.email') %></th>
                        <th><%= __('owner.fields.phoneNumber') %></th>
                        <th><%= __('list.actions.title') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(let owner of owners) { %>
                        <tr>
                            <td><%= owner.firstName %></td>
                            <td><%= owner.lastName %></td>
                            <td><%= owner.email %></td>
                            <td><%= owner.phoneNumber %></td>
                            <td>
                                <ul class="list-actions">
                                    <li>
                                        <a href="/owners/details/<%=owner.id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                                    </li>
                                    <li>
                                        <a href="/owners/edit/<%=owner.id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                                    </li>
                                    <li>
                                        <a href="/owners/delete/<%=owner.id%>" class="list-actions-button-delete "><%= __('list.actions.delete') %></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <p><a href="/owners/add" class="button-add"><%= __('owner.list.addNew') %></a> </p>
            </main>
<%- include('../../fragments/footer.ejs') %>