<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title><%= __('main-page.title') %></title>
        <link rel="icon" type="image/png" href="/_images/icon.png"/>
        <link rel="stylesheet" href="/_css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <script src="/_js/script.js"></script>
        <% if(navLocation === 'owner' && (formMode === 'edit' || formMode === 'createNew')) { %>
            <script src="/_js/validationCommon.js"></script>
            <script src="/_js/validationOwnerForm.js"></script>
        <% } %>
        <% if(navLocation === 'registration' && (formMode === 'edit' || formMode === 'createNew')) { %>
                <script src="/_js/validationCommon.js"></script>
                <script src="/_js/validationRegistrationForm.js"></script>
        <% } %>
        <% if(navLocation === 'vehicle' && (formMode === 'edit' || formMode === 'createNew')) { %>
                <script src="/_js/validationCommon.js"></script>
                <script src="/_js/validationVehicleForm.js"></script>
        <% } %>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <header>
            <h1><%= __('main-page.title') %></h1>
            <img src="/_images/icon.png" alt="WK logo">
        </header>
        <div class="centerBox">
            <nav>
                <ul class="list-actions">
                    <li><a href="/" class="<%= navLocation === 'main' ? 'active' : ''%>"><%= __('nav.main-page') %></a></li>
                    <% if(loggedUser) {%>
                        <li><a href="/owners" class="<%= navLocation === 'owner' ? 'active' : ''%>"><%= __('nav.owners') %></a></li>
                    <%}%>
                    <% if(loggedUser) {%>
                        <li><a href="/registrations" class="<%= navLocation === 'registration' ? 'active' : ''%>"><%= __('nav.registrations') %></a></li>
                    <%}%>
                    <li><a href="/vehicles" class="<%= navLocation === 'vehicle' ? 'active' : ''%>"><%= __('nav.vehicles') %></a></li>
                </ul>
            </nav>