<%- include('../../fragments/header.ejs') %>
            <main>
                <h2><%= pageTitle%></h2>

                <form class="form" method="post"  action="<%= formAction %>" novalidate onsubmit="return validateForm();">
                    <input type="hidden" name="id" value="<%= registration.id %>">

                    <label for="owner"><%= __('registration.fields.owner') %>:<sup>*</sup></label>
                    <select name="owner_id" id="owner" required <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                            class="<%= validationErrors.find(e => e.path.includes('owner')) ? 'error-input' : '' %>" >
                        <option value="" selected>--- <%= __('registration.fields.chooseOwner') %> ---</option>
                        <% for(let i=0; i<allOwners.length; i++) { let owner = allOwners[i]; %>
                               <option value="<%= owner.id %>"
                                       label="<%= owner.firstName + ' ' + owner.lastName %>"
                                    <%= owner.id === parseInt(registration.owner_id,10) ? 'selected' : ''%>></option>
                        <% } %>
                    </select>
                    <span id="errorOwner" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('owner'))) { %>
                            <%= validationErrors.find(e => e.path.includes('owner')).message %>
                        <% } %>
                    </span>

                    <label for="vehicle"><%= __('registration.fields.vehicle') %>:<sup>*</sup></label>
                    <select name="vehicle_id" id="vehicle" required <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                            class="<%= validationErrors.find(e => e.path.includes('vehicle')) ? 'error-input' : '' %>" >
                        <option value="" selected>--- <%= __('registration.fields.chooseVehicle') %> ---</option>
                        <% for(let i=0; i<allVehicles.length; i++) { let vehicle = allVehicles[i]; %>
                        <option value="<%= vehicle.id %>"
                                label="<%= vehicle.make + ' ' + vehicle.model %>"
                                <%= vehicle.id === parseInt(registration.vehicle_id,10) ? 'selected' : ''%>></option>
                        <% } %>
                    </select>
                    <span id="errorVehicle" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('vehicle'))) { %>
                            <%= validationErrors.find(e => e.path.includes('vehicle')).message %>
                        <% } %>
                    </span>

                    <label for="dateFrom">Data aktualnej rejestracji od:<sup>*</sup></label>
                    <input type="date" name="dateFrom" id="dateFrom"
                           value="<%= registration.dateFrom %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ? 'error-input' : '' %>" >
                    <span id="errorDateFrom" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('dateFrom'))) { %>
                            <%= validationErrors.find(e => e.path.includes('dateFrom')).message %>
                        <% } %>
                    </span>

                    <label for="dateTo"><%= __('registration.fields.dateTo') %>:</label>
                    <input type="date" name="dateTo" id="dateTo"
                           value="<%= registration.dateTo %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('dateTo')) ? 'error-input' : '' %>" >
                    <span id="errorsDateTo" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('dateTo'))) { %>
                            <%= validationErrors.find(e => e.path.includes('dateTo')).message %>
                        <% } %>
                    </span>

                    <label for="registrationNumber"><%= __('registration.fields.registrationNumber') %>:<sup>*</sup></label>
                    <input type="text" name="registrationNumber" id="registrationNumber"
                           value="<%= registration.registrationNumber %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('registrationNumber')) ? 'error-input' : '' %>" >
                    <span id="errorRegistrationNumber" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('registrationNumber'))) { %>
                            <%= validationErrors.find(e => e.path.includes('registrationNumber')).message %>
                        <% } %>
                    </span>

                    <label for="insuranceNumber"><%= __('registration.fields.insuranceNumber') %>:<sup>*</sup></label>
                    <input type="text" name="insuranceNumber" id="insuranceNumber"
                           value="<%= registration.insuranceNumber %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('insuranceNumber')) ? 'error-input' : '' %>" >
                    <span id="errorInsuranceNumber" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('insuranceNumber'))) { %>
                            <%= validationErrors.find(e => e.path.includes('insuranceNumber')).message %>
                        <% } %>
                    </span>

                    <% if(formMode === 'showDetails') { %>
                        <div class="section-buttons">
                            <a href="/registrations/edit/<%= registration.id %>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                        </div>
                    <% } %>

                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"><% if(validationErrors.length>0){%>
                                <%= __('form.errorsSummary') %>
                            <% } %></p>
                        <% if (formMode !== 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/registrations"><%= __('list.actions.cancel') %></a>
                        <% } else { %>
                            <a class="form-button-cancel" href="/registrations"><%= __('list.actions.return') %></a>
                        <% } %>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>