<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Lista rejestracji</h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th><%= __('registration.fields.firstName') %></th>
                        <th><%= __('registration.fields.lastName') %></th>
                        <th><%= __('registration.fields.make') %></th>
                        <th><%= __('registration.fields.model') %></th>
                        <th><%= __('registration.fields.registrationNumber') %></th>
                        <th><%= __('list.actions.title') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(let registration of registrations) { %>
                        <tr>

                            <td><%= registration.owner.firstName%></td>
                            <td><%= registration.owner.lastName%></td>
                            <td><%= registration.vehicle.make%></td>
                            <td><%= registration.vehicle.model%></td>
                            <td><%= registration.registrationNumber %></td>
                            <td>
                                <ul class="list-actions">
                                    <li>
                                        <a href="/registrations/details/<%=registration.id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                                    </li>
                                    <li>
                                        <a href="/registrations/edit/<%=registration.id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                                    </li>
                                    <li>
                                        <a href="/registrations/delete/<%=registration.id%>" class="list-actions-button-delete "><%= __('list.actions.delete') %></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <p><a href="/registrations/add" class="button-add">Dodaj nowego właściciela auta</a> </p>
            </main>
<%- include('../../fragments/footer.ejs') %>