<%- include('../../fragments/header.ejs') %>
            <main>
                <script type="application/javascript" src="/_js/validationCarForm.js"></script>
                <h2><%= pageTitle%></h2>

<!--                <form class="form" method="post" action="<%= /*formAction*/%>" novalidate onsubmit="return validateForm()">-->
                <form class="form" method="post" action="<%=formAction%>" novalidate >
                <input type="hidden" name="id" value="<%= vehicle.id%>">

                    <label for="vin">Numer VIN:<sup>*</sup></label>
                    <input type="text" name="vin" id="vin" placeholder="5-30 znaków"
                           value="<%= vehicle.vin %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('vin')) ? 'error-input' : '' %>" >
                    <span id="errorVin" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('vin'))) { %>
                            <%= validationErrors.find(e => e.path.includes('vin')).message %>
                        <% } %>
                    </span>

                    <label for="make">Marka:<sup>*</sup></label>
                    <input type="text" name="make" id="make" placeholder="2-30 znaków"
                           value="<%= vehicle.make %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('make')) ? 'error-input' : '' %>" >
                    <span id="errorMake" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('make'))) { %>
                            <%= validationErrors.find(e => e.path.includes('make')).message %>
                        <% } %>
                    </span>

                    <label for="model">Model:<sup>*</sup></label>
                    <input type="text" name="model" id="model" placeholder="1-30 znaków"
                           value="<%= vehicle.model %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('model')) ? 'error-input' : '' %>" >
                    <span id="errorModel" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('model'))) { %>
                            <%= validationErrors.find(e => e.path.includes('model')).message %>
                        <% } %>
                    </span>

                    <label for="firstRegistrationDate">Data pierwszej rejestracji:<sup>*</sup></label>
                    <input type="date" name="firstRegistrationDate" id="firstRegistrationDate"
                           value="<%= vehicle.firstRegistrationDate %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('firstRegistrationDate')) ? 'error-input' : '' %>" >
                    <span id="errorFirstRegistrationDate" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('firstRegistrationDate'))) { %>
                            <%= validationErrors.find(e => e.path.includes('firstRegistrationDate')).message %>
                        <% } %>
                    </span>

                    <label for="engineCapacity">Pojemność silnika:<sup>*</sup></label>
                    <input type="text" name="engineCapacity" id="engineCapacity"
                           value="<%= vehicle.engineCapacity %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
                           class="<%= validationErrors.find(e => e.path.includes('engineCapacity')) ? 'error-input' : '' %>" >
                    <span id="errorEngineCapacity" class="errors-text">
                        <% if (validationErrors.find(e => e.path.includes('engineCapacity'))) { %>
                            <%= validationErrors.find(e => e.path.includes('engineCapacity')).message %>
                        <% } %>
                    </span>

                    <% if(formMode === 'showDetails') { %>
                        <div class="section-buttons">
                            <a href="/vehicles/edit/<%= vehicle.id %>" class="list-actions-button-edit">Edytuj</a>
                        </div>
                    <% } %>
                    <% if (formMode === 'showDetails' || formMode === 'edit') { %>
                        <h2>
                            Aktualni właściciele auta
                        </h2>
                        <table class="table-list">
                            <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Adres email</th>
                                <th>Data rejestracji od</th>
                                <th>Numer rejestracyjny</th>
                                <th>Numer ubezpieczenia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for (let r of vehicle.ownerVehicles) { %>
                                <tr>
                                    <td><a href="/owners/details/<%= r.owner.id %>"><%= r.owner.firstName %></a></td>
                                    <td><%= r.lastName %></td>
                                    <td><%= r.email%></td>
                                    <td><%= r.dateFrom %></td>
                                    <td><%= r.registrationNumber %></td>
                                    <td><%= r.insuranceNumber %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <h2>
                            Poprzedni właściciele auta
                        </h2>
                        <table class="table-list">
                            <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Adres email</th>
                                <th>Data rejestracji od</th>
                                <th>Data rejestracji do</th>
                                <th>Numer rejestracyjny</th>
                                <th>Numer ubezpieczenia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for (let r of vehicle.ownerVehicles) { if (r.dateTo==null) continue;%>
                                <tr>
                                    <td><a href="/owners/details/<%= r.owner.id %>"><%= r.owner.firstName %></a></td>
                                    <td><%= r.lastName %></td>
                                    <td><%= r.email%></td>
                                    <td><%= r.dateFrom %></td>
                                    <td><%= r.registrationNumber %></td>
                                    <td><%= r.insuranceNumber %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <% if (formMode !== 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/vehicles">Anuluj</a>
                        <% } else { %>
                            <a class="form-button-cancel" href="/vehicles">Powrót</a>
                        <% } %>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>