<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Lista pojazdów</h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>VIN</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Data pierwszej rejestracji</th>
                            <th>Pojemność silnika</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(let vehicle of vehicles) { %>
                        <tr>
                            <td><%= vehicle.vin %></td>
                            <td><%= vehicle.make %></td>
                            <td><%= vehicle.model %></td>
                            <td><%= vehicle.firstRegistrationDate %></td>
                            <td><%= vehicle.engineCapacity %></td>
                            <td>
                                <ul class="list-actions">
                                    <li>
                                        <a href="/vehicles/details/<%=vehicle.id%>" class="list-actions-button-details">Szczegóły</a>
                                    </li>
                                    <li>
                                        <a href="/vehicles/edit/<%=vehicle.id%>" class="list-actions-button-edit">Edytuj</a>
                                    </li>
                                    <li>
                                        <a href="/vehicles/delete/<%=vehicle.id%>" class="list-actions-button-delete ">Usuń</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <p><a href="/vehicles/add" class="button-add">Dodaj nowy pojazd</a> </p>
            </main>
<%- include('../../fragments/footer.ejs') %>