<%- include('../../fragments/header.ejs') %>
            <main>
                <h2><%= __('vehicle.list.pageTitle') %></h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th><%= __('vehicle.fields.vin') %></th>
                            <th><%= __('vehicle.fields.make') %></th>
                            <th><%= __('vehicle.fields.model') %></th>
                            <th><%= __('vehicle.fields.firstRegistrationDate') %></th>
                            <th><%= __('vehicle.fields.engineCapacity') %></th>
                            <th><%= __('list.actions.title') %></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(let vehicle of vehicles) { %>
                        <tr>
                            <td><%= vehicle.vin %></td>
                            <td><%= vehicle.make %></td>
                            <td><%= vehicle.model %></td>
                            <td><%= vehicle.firstRegistrationDate %></td>
                            <td><%= vehicle.engineCapacity %></td>
                            <td>
                                <ul class="list-actions">
                                    <li>
                                        <a href="/vehicles/details/<%=vehicle.id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                                    </li>
                                    <li>
                                        <a href="/vehicles/edit/<%=vehicle.id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                                    </li>
                                    <li>
                                        <a href="/vehicles/delete/<%=vehicle.id%>" class="list-actions-button-delete "><%= __('list.actions.delete') %></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <p><a href="/vehicles/add" class="button-add"><%= __('vehicle.list.addNew') %></a> </p>
            </main>
<%- include('../../fragments/footer.ejs') %>