<%- include('../../fragments/header.ejs') %>
            <main>
                <script type="application/javascript" src="/_js/validationOwnersCarsForm.js"></script>
                <h2><%= pageTitle%></h2>

                <form class="form" method="post"  action="<%= formAction%>" novalidate onsubmit="return validateForm();">
                    <input type="hidden" name="id" value="<%= registration.id %>">

                    <label for="owner">Właściciel:<sup>*</sup></label>
                    <select name="owner_id" id="owner" required <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                        <option value="" selected>--- Wybierz właściciela ---</option>
                        <% for(let i=0; i<allOwners.length; i++) { let owner = allOwners[i]; %>
                               <option value="<%= owner.id %>"
                                       label="<%= owner.firstName + ' ' + owner.lastName %>"
                                    <%= (registration.id && owner.id.toString() === registration.owner.id.toString()) ? 'selected' : ''%>></option>
                        <% } %>
                    </select>
                    <span id="errorOwner" class="errors-text"></span>

                    <label for="vehicle">Pojazd:<sup>*</sup></label>
                    <select name="vehicle_id" id="vehicle" required <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
                        <option value="" selected>--- Wybierz pojazd ---</option>
                        <% for(let i=0; i<allVehicles.length; i++) { let vehicle = allVehicles[i]; %>
                        <option value="<%= vehicle.id %>" label="<%= vehicle.make + ' ' + vehicle.model %>"
                                <%= (registration.id && vehicle.id.toString() === registration.vehicle.id.toString()) ? 'selected' : ''%>></option>
                        <% } %>
                    </select>
                    <span id="errorVehicle" class="errors-text"></span>

                    <label for="dateFrom">Data aktualnej rejestracji od:<sup>*</sup></label>
                    <input type="date" name="dateFrom" id="dateFrom"
                           value="<%= registration.dateFrom %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
                    <span id="errorDateFrom" class="errors-text"></span>

                    <label for="dateTo">Data aktualnej rejestraci do:</label>
                    <input type="date" name="dateTo" id="dateTo"
                           value="<%= registration.dateTo %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
                    <span id="errorsDateTo" class="errors-text"></span>

                    <label for="registrationNumber">Numer rejestracyjny:<sup>*</sup></label>
                    <input type="text" name="registrationNumber" id="registrationNumber"
                           value="<%= registration.registrationNumber %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
                    <span id="errorRegistrationNumber" class="errors-text"></span>

                    <label for="insuranceNumber">Numer ubezpieczenia:<sup>*</sup></label>
                    <input type="text" name="insuranceNumber" id="insuranceNumber"
                           value="<%= registration.insuranceNumber %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %> >
                    <span id="errorInsuranceNumber" class="errors-text"></span>

                    <% if(formMode === 'showDetails') { %>
                        <div class="section-buttons">
                            <a href="/registrations/edit/<%= registration.id %>" class="list-actions-button-edit">Edytuj</a>
                        </div>
                    <% } %>

                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <% if (formMode !== 'showDetails') { %>
                        <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                        <a class="form-button-cancel" href="/registrations">Anuluj</a>
                        <% } else { %>
                            <a class="form-button-cancel" href="/registrations">Powrót</a>
                        <% } %>
                    </div>
                </form>
            </main>
<%- include('../../fragments/footer.ejs') %>