<%- include('../../fragments/header.ejs') %>
            <main>
                <h2>Lista rejestracji</h2>
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Numer rejestracyjny</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(let registration of registrations) { %>
                        <tr>

                            <td><%= registration.owner.firstName%></td>
                            <td><%= registration.owner.lastName%></td>
                            <td><%= registration.vehicle.make%></td>
                            <td><%= registration.vehicle.model%></td>
                            <td><%= registration.registrationNumber %></td>
                            <td>
                                <ul class="list-actions">
                                    <li>
                                        <a href="/registrations/details/<%=registration.id%>" class="list-actions-button-details">Szczegóły</a>
                                    </li>
                                    <li>
                                        <a href="/registrations/edit/<%=registration.id%>" class="list-actions-button-edit">Edytuj</a>
                                    </li>
                                    <li>
                                        <a href="/registrations/delete/<%=registration.id%>" class="list-actions-button-delete ">Usuń</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <p><a href="/registrations/add" class="button-add">Dodaj nowego właściciela auta</a> </p>
            </main>
<%- include('../../fragments/footer.ejs') %>